
.icon-sourcing-icon:before { content: '\e800'; } /* '' */
.icon-stylisme-icon:before { content: '\e801'; } /* '' */
.icon-confection-icon:before { content: '\e802'; } /* '' */
.icon-modelisme-icon:before { content: '\e803'; } /* '' */