.ourTeamSection {
    width: 75vw;
    margin: auto;
    margin-top: 140px;

    > * {
        text-align: center;
    }

    .ourTeamText {
        color: #00798c;
        font-family: "Gelion Medium";
    }

    h1 {     
        font-family: "Gelion Medium";
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #0A071B;
    }

    .teamProfiles {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 0;
        flex-wrap: wrap;
        margin-top: 80px;
        list-style: none;

        .profileBox {
            margin: auto;
            > * {
                text-align: left;
            }

            > img {
                width: 250px;
                height: auto;
            }

            div {
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 20px;
            }

            h2 {
                font-family: "Gelion Medium";
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.04em;
                margin: 0;
            }

            h3 {          
                font-family: Gelion;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: -0.02em;
                color: #8C87A6;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .ourTeamSection {
        width: auto !important;
    }
}