.containerSignIn {
    height: 85vh;
    width: 85%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;

    .contentDiv {
        margin: auto;
        max-width: 95vw;
        flex-wrap: wrap;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .dottedDiv {
            background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%),
                linear-gradient(to bottom, black 50%, rgba(255, 255, 255, 0) 0%),
                linear-gradient(to left, black 50%, rgba(255, 255, 255, 0) 0%),
                linear-gradient(to bottom, black 50%, rgba(255, 255, 255, 0) 0%);
            background-size: 1rem 1px, 1px 1rem;
            background-position: top left, right top, bottom right, left top;
            background-repeat: repeat-x, repeat-y;
            padding: 1rem;
            border-radius: 4px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .lengthSpan {
                font-family: "Gelion Light";
                position: absolute;
                bottom: -1.75rem;
            }

            .MainDiv {
                background: #efefef;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 3rem 4rem;
                justify-content: center;
                align-items: center;

                form {
                    width: 100%;
                }

                .mainDivContent {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    color: #000;
                    text-align: left;
                    max-width: 400px;
                    position: relative;

                    .textRedirectingToRegister {
                        a:not(.mdp-oublie) {
                            color: #00798c;
                            font-family: "Gelion SemiBold";
                        }
                        a.mdp-oublie {
                            color: #000;
                            &:hover { text-decoration: underline }
                        }
                    }

                    h1 {
                        display: block;
                        font-size: 2rem;
                        margin: 0;
                        line-height: 1;
                    }

                    .subtitleDiv {
                        display: block;
                        h2 {
                            font-weight: normal;
                            font-family: "Gelion";
                        }
                        * {
                            display: inline;
                        }
                        align-items: center;
                    }

                    .inputDiv {
                        position: relative;
                        width: 100%;
                        display: flex;
                        height: 85px;
                        label {
                            font-family: Georgia, "Times New Roman", Times, serif;
                            color: #333333;
                            font-size: 0.8rem;
                            position: absolute;
                            left: 1.25rem;
                            top: 1.25rem;
                            z-index: 2;
                        }
                        input {
                            transition: 0.3s;
                            font-family: "Gelion SemiBold";
                            font-size: 1rem;
                            box-sizing: border-box;
                            text-indent: 1rem;
                            border: 1px solid #e1e6e2;
                            margin: 10px 0;
                            padding-top: 1.5rem;
                            width: 100%;
                            max-height: 60px;
                            background: #fff;
                            &:focus {
                                transition: 0.3s;
                                border: 1px solid #333333;
                                outline: none;
                            }
                        }
                    }

                    .filledBtn {
                        transition: 0.2s;
                        cursor: pointer;
                        border-radius: 4px;
                        margin-bottom: 1.5rem;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Gelion SemiBold";
                        font-size: 1.2rem;
                        background-color: #00798c;
                        color: #fff;
                        outline: none;
                        border: 1px solid #00798c;
                        
                        &:hover {
                            transition: 0.2s;
                            background: transparent;
                            color: #00798c;
                        }
                    }
                }
            }
        }

        .imgDiv {
            margin-left: -3rem;
            z-index: 2;
            height: 75%;
            .img {
                object-fit: contain;
                width: auto;
                height: 100%;
                max-width: 400px;
            }
        }
    }
}

// .code {
//     transition: 0.3s;
//     border: 1px solid #e1e6e2;
//     width: 2rem;
//     border-radius: 10px;
//     outline: none;
//     height: 3rem;
//     text-align: center;
//     font-size: 2rem;
//     margin-right: 0.5rem;
//     margin-bottom: 1rem;
//     &::-webkit-outer-spin-button,
//     &::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//         margin: 0;
//     }
//     &:focus {
//         transition: 0.3s;
//         border: 1px solid #333333;
//         outline: none;
//     }
// }

.containerMdpOublie, .containerMdpReset {
    height: 85vh;
    width: 85%;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;

    h1 { text-align: center; }

    h2 {
        font-size: 17px;
        font-weight: normal;
        text-align: center;
    }

    a.btn {
        height: auto;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;

        .inputDiv {
            position: relative;
            width: 300px;
            display: flex;
            height: 85px;

            label {
                font-family: Georgia, "Times New Roman", Times, serif;
                color: #333333;
                font-size: 0.8rem;
                position: absolute;
                left: 1.25rem;
                top: 1.25rem;
                z-index: 2;
            }
            
            input {
                transition: 0.3s;
                font-family: "Gelion SemiBold";
                font-size: 1rem;
                box-sizing: border-box;
                text-indent: 1rem;
                border: 1px solid #e1e6e2;
                margin: 10px 0;
                padding-top: 1.5rem;
                width: 100%;
                max-height: 60px;
                background: #fff;

                &:focus {
                    transition: 0.3s;
                    border: 1px solid #333333;
                    outline: none;
                }
            }
        }
    }

    .error {
        margin-bottom: 15px;
        color: red;
        font-size: 14px;
        text-align: center;
    }
}

@media screen and (max-width: 1099px) {
    .containerSignIn .contentDiv .imgDiv {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .containerSignIn {
        width: 95%;
        
        .contentDiv .dottedDiv .MainDiv {
            padding: 2rem;
        }
    }
}