@font-face {
    font-family: 'Gelion Light';
    src: local('Gelion Light'), url(../../fonts/Gelion-Light.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gelion Medium';
    src: local('Gelion Medium'), url(../../fonts/Gelion-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gelion';
    src: local('Gelion'), url(../../fonts/Gelion-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gelion SemiBold';
    src: local('Gelion SemiBold'), url(../../fonts/Gelion-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gelion Bold';
    src: local('Gelion Bold'), url(../../fonts/Gelion-Bold.ttf) format('truetype');
}