.containerSimplify {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;

    .introduction {
        text-align: center;
        max-width: 65vw;
        margin: auto;

        .ourMissionText {
            color: rgb(90, 90, 90);
            text-align: center;
            font-size: 20px;
        }

        .catchPhraseText {
            font-weight: normal;
            margin-bottom: 40px;
            margin-top: 20px;
            font-size: 40px;
            font-family: "Gelion SemiBold";
            letter-spacing: -1px;
            line-height: 48px;

            strong {
                font-family: "Gelion Medium";
            }

            strong:last-child { color: #00798c }
        }
        
        span {
            line-height: 1.5;
            color: #343a40;
            font-family: "Gelion Light";
        }

        .subtitleTags {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 0;
            grid-gap: 20px;
            gap: 20px;
            width: 100%;

            .tag {
                display: flex;
                gap: 10px;
                align-items: center;

                .customBullet {
                    width: 30px;
                    height: 30px;
                    position: relative;

                    &:before {
                        animation: flashing 2.0s 2.0s ease-out;
                        border: 3px solid #e5f2f3;
                    }

                    &:after {
                        animation: flashing 2.0s 1.5s ease-in;
                        border: 3px solid #c2edf0;
                    }

                    &:after, &:before {
                        content: "";
                        width: 60%;
                        height: 60%;
                        display: block;
                        border-radius: 50%;
                        background: #00798c;
                        opacity: 0;
                        animation-iteration-count: infinite;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }

                @keyframes flashing{
                    0% { -webkit-transform: scale(.1, .1); opacity: 0 }
                    50% { opacity: 1 }
                    100% { -webkit-transform: scale(1.2, 1.2); opacity: 0 }
                }

                p {
                    color: black;
                    font-weight: bold;
                    font-size: 17px;
                }
            }
        }
    }

    img {
        margin-top: 25px;
        width: 60%;
        box-shadow: 1px 0px 140px -5px rgba(185,202,242,0.40);
        -webkit-box-shadow: 1px 0px 140px -5px rgba(185,202,242,0.40);
        -moz-box-shadow: 1px 0px 140px -5px rgba(185,202,242,0.40);
    }
}

@media screen and (max-width: 1200px) {
    .containerSimplify {
        img {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .containerSimplify {
        padding-right: 5vw;
        padding-left: 5vw;

        .introduction {
            max-width: unset;
            .catchPhraseText {
                font-size: 30px;
                line-height: 38px;
                max-width: 80vw;
                margin-left: auto;
                margin-right: auto;
            }
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .containerSimplify {

        .introduction {

            .ourMissionText {
                font-size: 18px;
            }

            .catchPhraseText {
                max-width: unset;
                margin-bottom: 20px;
            }

            .subtitleTags {
                flex-direction: column;
                align-self: center;
                gap: 0px;

                .tag {
                    justify-content: center;
                }
            }
        }
    }
}